@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<h1>Hello, world!!</h1>

Welcome to your new app.

<ParentComponent/>

<a href="/counter" class="btn btn-primary">Go to Counter</a>
        
<AuthorizeView Policy="VIP">
    <Authorized>
        <div>You are authorized. @context.User.Identity?.Name @context.User.Identity?.IsAuthenticated @context.User.Identity?.AuthenticationType</div>
    
         <strong>@context.User.Claims.First(c=>c.Type == ClaimTypes.Name).Value</strong>

           <strong>@context.User.Claims.FirstOrDefault(c=>c.Type == "foo")?.Value</strong>

    </Authorized>
    <NotAuthorized>
        <div>You are not authorized. </div>
    </NotAuthorized>

</AuthorizeView>