@page "/archive"
@inject ITicketRepository repository

<h3>Archive</h3>

<TicketTableTemplate Tickets="@tickets">

    <RowTemplate Context="ticket">
        <td>@ticket.Id</td>
        <td>@ticket.Title</td>
        <td>@ticket.Status</td>
        <td>@ticket.CreatedBy</td>
    </RowTemplate>
</TicketTableTemplate>

@code {
    private IEnumerable<Ticket> tickets = Enumerable.Empty<Ticket>();

    protected override void OnInitialized()
    {
        tickets = repository.GetAll();
    } 
    
}
