@page "/tickets"
@using Domain.Abstractions

<h3>Hello Tickets!</h3>

<p>Jestes na stronie @title</p>

<TicketTableTemplate Tickets="@tickets" >

    <HeaderTemplate>
        <th>Title</th>
        <th>Status</th>
        <th>Created By</th>
    </HeaderTemplate>
   
    <RowTemplate>
        <td>@context.Title</td>
        <td>@context.Status</td>
        <td>@context.CreatedBy</td>
</RowTemplate>
</TicketTableTemplate>


