@page "/tickets"
@using Domain.Abstractions
@* @rendermode InteractiveServer *@

<h3>Hello Tickets!</h3>

<p>Jestes na stronie @title</p>

<EntityTableTemplate Entities="@tickets"  >

    <HeaderTemplate>
        <th>Title</th>
        <th>Status</th>
        <th>Created By</th>
        <th></th>
    </HeaderTemplate>
   
    <RowTemplate>
        <td>@context.Title</td>
        <td>@context.Status</td>
        <td>@context.CreatedBy</td>
        <td>
            <a class="btn btn-primary" href="/tickets/@context.Id">View</a>
            <button class="btn btn-danger" @onclick="Delete">Delete</button>
        </td>
</RowTemplate>
</EntityTableTemplate>

@code {


    public void Delete()
    {
        Console.WriteLine("Deleted!");
    }
}

