@page "/tickets"
@using Domain.Abstractions
@rendermode InteractiveServer
@* @rendermode InteractiveWebAssembly *@

<h3>Hello Tickets!</h3>

<p>Jestes na stronie @title</p>

<div>
    <label for="filter">Search: </label>
    <input type="text" id="filter" @bind-value="searchText" @bind-value:event="oninput"  />

    <p>Characters Count: @searchText?.Length </p>
</div>

<button type="button" @onclick="Search" class="btn btn-primary">Search</button>

<EntityTableTemplate Entities="@tickets"  >

    <HeaderTemplate>
        <th>Title</th>
        <th>Status</th>
        <th>Created By</th>
        <th></th>
    </HeaderTemplate>
   
    <RowTemplate>
        <td>@context.Title</td>
        <td>@context.Status</td>
        <td>@context.CreatedBy</td>
        <td>
            <a class="btn btn-primary" href="/tickets/@context.Id">View</a>
            <button class="btn btn-danger" @onclick="Delete">Delete</button>
        </td>
</RowTemplate>
</EntityTableTemplate>

@code {

    private string searchText;

    public void Delete()
    {
        Console.WriteLine("Deleted!");
    }

    private void Search()
    {
        Console.WriteLine($"Search {searchText}");
    }
}

