@page "/tickets"

@rendermode InteractiveServer
@inject ITicketRepository repository
@attribute [Authorize]

@* @rendermode InteractiveWebAssembly *@

<SubPageTitle>Hello Tickets!</SubPageTitle>

<p>Jestes na stronie @title</p>

<SearchBar OnSearch="Search" />

<EntityTableTemplate Entities="@tickets"  >

    <HeaderTemplate>
        <th>Title</th>
        <th>Status</th>
        <th>Created By</th>
        <th></th>
    </HeaderTemplate>
   
    <RowTemplate>
        <td>@context.Title</td>
        <td>@context.Status</td>
        <td>@context.CreatedBy</td>
        <td>
            <a class="btn btn-primary" href="/tickets/@context.Id">View</a>
            <button class="btn btn-danger" @onclick="Delete">Delete</button>
        </td>
</RowTemplate>
</EntityTableTemplate>

@code {

    IEnumerable<Ticket> tickets = Enumerable.Empty<Ticket>();

    string title = "Tickets";

    public void Delete()
    {
        Console.WriteLine("Deleted!");
    }

    protected override void OnInitialized()
    {
        tickets = repository.GetAll();
    }

    private void Search(string text)
    {
       Console.WriteLine($"Search Tickets by {text}");  

       tickets = repository.Get(text);
    }
}
